<html>
    <style>
body{
background: #67B26F; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #67B26F , #4ca2cd); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #67B26F , #4ca2cd); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
 }  
</style>
  <head>
    <title>Kitten v. 0.0.01 </title>
  </head>
  <body>
    <h2>Welcome to Kitten v. 0.0.01 </h2> <br />
    <h2> Kitten makes Tweetie tweet for you!</h2><br />
       <h2>Please state:</h2>
       <form action="/login" method="post">
  Consumer key: <input type="text" name="consumerkey"></input>
  Consumer secret: <input type="text" name="consumersecret"></input>
   Access Token <input type="text" name="accesstoken"></input>
   Token Secret <input type="text" name="tokensecret"></input>
  <input type="submit" value="send"></input>
</form>
Login with <a href="login">Twitter</a>.<br />
  </body>
</html>