<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Kitten App</title>
 
 
 <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
 
    <link href="https://github.com/jlong/sass-bootstrap-defunct/blob/master/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link href="../static/signup.css" rel="stylesheet">
    
   
</head>
 
<body>
 
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active"><a href="/logout">Logout</a>
                    </li>
                </ul>
            </nav>
            <h3 class="text-muted">Kitten App</h3>
        </div>
 
        <div class="jumbotron">
            <h1>Welcome Home !!</h1>
 
        </div>
        <h4>Tweets are as follows: {{ pythonTweets }} </h4>
 
        <footer class="footer">
            <p>&copy; LB 2016</p>
        </footer>
 
    </div>
</body>
 
</html>